*{
    margin: 0%;
    padding: 0%;
}

body{
    
    font-family: 'Cambo', sans-serif;
    opacity: .95;
    letter-spacing: 2px;
    position: relative;
}

header{
    position: fixed;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 5px 30px 5px 10px;
    z-index: 1000;
}

.logo-container img{
    margin-left: 50px;
    overflow: hidden; 
    height: 100px;
    width: 140px;
}

nav{
    margin-right: 20px;
}

.nav-links{
    list-style:none;
}

.nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.nav-links li:hover{
    transform: scale(1.1);
}

.nav-links a{
    font-size: 700;
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 2px;
}

.nav-links li a:hover{
    color: rgb(255, 174, 0);
}

main {
    padding: 20px;
}

.contacto-formulario {
    margin: 140px 0px 50px 300px;
    width: 700px;
    color: #FFFFFF;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #FFDE59;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    color: #ffffff;
    background-color: rgb(255, 174, 0);
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.container {
    display: grid;
    max-height: 480px;
    grid-template-columns: 1fr 1fr; /* Crea dos columnas de igual ancho */
    gap: 30px; /* Espaciado entre columnas */
    background-color: #000000;
    box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.column1 {
    padding: 30px;
}

.column1 h2{
    margin-bottom: 20px;
}

.column img{
    width: 340px;
    height: 480px;
}

footer{
    background-color: rgb(0, 0, 0);
    padding: 50px 0px 50px 0px;
    text-align: center;
    color: #333;
}

.social-icon img{
    background-color: #333;
    margin-bottom: 20px;
    height: 30px;
    width: auto;
    border: 2px solid #333;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.social-icon {
    position: relative;
    display: inline-block;
}

.social-icon::before,
.social-icon::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 320%;
    background-color: #333;
    margin: 12px 20px 0px 20px;
}

.social-icon::before {
    left: 100%; /* Línea en el lado izquierdo */
}

.social-icon::after {
    right: 100%; /* Línea en el lado derecho */
}
